.box {
  display: flex;
  margin: 1em;
  padding: 0.25em; 
}
.box img {
  height: 150px;
}
.info-box {
  margin: 0 1em;
}

.online {
  background-color: #6cba7a;
}

.offline {
  background-color: #e7939a;
}